body {overflow: hidden;}
input {-moz-user-select: text;}
input:focus,textarea:focus {outline: none;}
body,input,textarea {font:normal 13px arial,sans-serif; color:rgb(78, 96, 114);}

.shadow{box-shadow: 0 2px 4px rgba(0,0,0,0.2);}

.display {display:block; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; user-select:none; -webkit-user-select:none; -khtml-user-select:none; -moz-user-select:-moz-none; -o-user-select:none; overflow:hidden; cursor:default; padding:0; margin:0; outline:none; border-color:#e5e5e5; border-width:1px; background:#f5f5f5; color:#666;}

.container{background:#fff;}

.module{}

.application{position:absolute; top:0; left:0; width:100%; height:100%;}

.toolbar{background:#f5f5f5; border-bottom-style:solid; height:44px; display:table-cell; vertical-align:middle;}
.toolbar > .display{float:left; margin-left:2px;}
.toolbar > .separator{width:1px; height:20px; background:#c6c6c6; margin-left:6px; margin-right:6px;}

.menubar{border-bottom-style:solid; height:35px; margin:0 44px 0 44px;}
.menubar .item {position:relative; display:inline-block; margin:2px 0 0 2px; border:1px solid transparent; overflow:visible;}
.menubar .item div{padding:5px 7px;}
.menubar .item.over{background:#f5f5f5;}
.menubar .item.down{background:#fff; border:1px solid #c6c6c6; border-bottom-color:transparent; box-shadow: 0 2px 4px rgba(0,0,0,0.2);}
.menubar .item.down .item-r{display:block; background:#fff; width:100%; height:3px; z-index:1001; position:relative;}

.button{background-image: -webkit-linear-gradient(top,#f8f8f8,#ececec); border:1px solid #c6c6c6; padding:2px; height:28px; border-radius:2px; cursor:pointer; font-weight:bold; font-size:11px;}
.button .icon{float:left; width:16px; height:16px; display:inline-block; margin-right:2px}
.button.flat{border:solid 1px transparent; background:#f5f5f5;}
.button.mouseover{background-image:-webkit-linear-gradient(top,#ffffff,#ececec); border-color:#BDBDBD;}
.button.flat.mouseover{border:1px solid #c6c6c6; background:transparent; box-shadow:0 1px 2px rgba(0,0,0,.1);}
.button.mousedown{background-image:-webkit-linear-gradient(top,#eee,#e0e0e0); border-color:#ccc; box-shadow:inset 0 1px 2px rgba(0,0,0,.1);}
.button.flat.mousedown{background-image:-webkit-linear-gradient(top,#eee,#e0e0e0); box-shadow:inset 0 1px 2px rgba(0,0,0,.1);}
.button.disabled {opacity:0.4; cursor:default;}
.button.focus{box-shadow:inset 0px 1px 2px rgba(0,0,0,0.1); border-color:#4D90FE;}

.splitbutton{width:44px; height:28px;}
.splitbutton .button1, .splitbutton .button2{position:absolute;top:0;bottom:0; background-image: -webkit-linear-gradient(top,#f8f8f8,#ececec); border:1px solid #c6c6c6; border-radius:2px;}
.splitbutton .button1{left:0; right:8px; border-top-right-radius:0; border-bottom-right-radius:0; border-right:none}
.splitbutton .button2{right:0; width:7px; border-top-left-radius:0; border-bottom-left-radius:0;}
.splitbutton .button2 div{width:5px; height:3px; background:url(images/icons16.gif) -5px -4px no-repeat; position:absolute; top:50%; margin-top:-2px; left:1px;}
.splitbutton.flat .button1, .splitbutton.flat .button2{border:solid 1px transparent; background:#f5f5f5;}
.splitbutton.mouseover .button1.over, .splitbutton.mouseover .button2.over{background-image:-webkit-linear-gradient(top,#ffffff,#ececec); border-color:#BDBDBD;}
.splitbutton.flat.mouseover .button1.over, .splitbutton.flat.mouseover .button2.over{border:1px solid #c6c6c6; background:transparent; box-shadow:0 1px 2px rgba(0,0,0,.1);}
.splitbutton.mousedown .button1.down, .splitbutton.mousedown .button2.down{background-image:-webkit-linear-gradient(top,#eee,#e0e0e0); border-color:#ccc; box-shadow:inset 0 1px 2px rgba(0,0,0,.1);}
.splitbutton.flat.mousedown .button1.down, .splitbutton.flat.mousedown .button2.down{background-image:-webkit-linear-gradient(top,#eee,#e0e0e0); box-shadow:inset 0 1px 2px rgba(0,0,0,.1);}

.textbox{-webkit-user-select:text; cursor:auto; background:#fff; height:24px; padding-left:4px; border:1px solid #c6c6c6;}
.textbox.mouseover{box-shadow:inset 0px 1px 2px rgba(0,0,0,0.1);}
.textbox.focus{box-shadow:inset 0px 1px 2px rgba(0,0,0,0.1); border-color:#4D90FE;}

.menu{background:#fff; border:1px solid #c6c6c6; padding:5px 0 5px 0}
.menuitem{cursor:pointer; position:relative; height:28px; line-height:28px; padding:0 20px; margin:2px 0 2px 0;}
.menuitem *{cursor:pointer}
.menuitem.withicon{padding-left:30px}
.menuitem_separator{padding:3px 0;}
.menuitem_separator div{background:#E2E2E2; height:1px}
.menuitem:hover{background: rgb(238,238,238)}
.menuitem .icon{position:absolute; top:50%; margin-top:-10px; left:3px; width:21px; height:21px}
.menuitem.disabled {cursor:default; color:#ccc}
.menuitem.disabled:hover{background:#fff}
.menuitem.disabled *{cursor:default}

.panel{width:200px; height:200px; padding:30px 0 0 0; border-style:solid;}
.panel > .client{position:relative; width:100%; height:100%; background:#fff;}
.panel > .title{position:relative; background:#f5f5f5; height:30px; margin-top:-30px; line-height:30px; white-space:nowrap;}
.panel > .title .icon{display:inline-block;margin-right: 10px}
.panel > .title .caption{display:inline-block; font-weight:bold}
.panel > .title .pbutton{position:absolute; top:0; right:0; width:10px; height:30px; background:#f5f5f5;}

.splitter {background:#fff}
.splitter.vertical{width:6px; cursor:col-resize}
.splitter.vertical .icon{background:url(images/icons16.gif) -38px 0; position:relative; width:4px; height:16px; top:50%; margin-top:-8px; left:1px;}
.splitter.horizontal{height:6px; cursor:row-resize}
.splitter.horizontal .icon{background:url(images/icons16.gif) -48px -6px; position:relative; width:16px; height:4px; left:50%; margin-left:-8px; top:1px;}

.listbase .client{position:relative; width:100%; height:100%;}

.list{padding:2px; background:#fff; border-style:solid}
.list .data {left:0; right:0; overflow:hidden; position:absolute}
.list .item {position:relative; width:100%; padding-left:5px; white-space:nowrap;}
.list .item.over{background:#f5f5f5}
.list .item.selected{background:#88C1FF; color:#fff}
.list .disabled {background:#f0f0f0; border-color:#dbdbdb; color:#999; text-shadow:#fff 0 1px 0;}

.scrollbar {background-color:rgba(230, 230, 230, 0.55); min-width:7px; min-height:7px; position:absolute;}
.scrollbar * {position:absolute}
.scrollbar .minus, .scrollbar .plus {width:7px; height:7px; display:none;}
.scrollbar .face {top:0; left:0; width:7px; height:7px; background-color:#8f8f8f;}
.scrollbar.vertical .track {top:0; left:0; width:7px; bottom:0px;}
.scrollbar.vertical .minus {bottom:7px; background:url(images/icons16.gif) -21px -5px;}
.scrollbar.vertical .plus  {bottom:0; background:url(images/icons16.gif) -5px -5px;}
.scrollbar.vertical .hidebt {bottom:0;}
.scrollbar.horizontal .track {top:0; left:0; height:7px; right:0px;}
.scrollbar.horizontal .minus {right:7px; background:red;}
.scrollbar.horizontal .plus  {right:0; background:blue;}
.scrollbar.horizontal .hidebt {right:0;}
.scrollbar.touch {background:transparent;}
.scrollbar.touch .face {background:#6c6c6c; opacity:0.7;}

.label {background:transparent}

.formitem{background:transparent}
.formitem_client{display: table-row;}
.formitem_caption{display: table-cell; white-space:nowrap; font-weight:bold}
.formitem_subcaption{padding-left:4px; padding-right:4px}
.formitem .display{display: table-cell; margin-bottom: 2px;}